body {
  background-color: #efe;
  font-family: Hoefler Text, Georgia, serif;
  font-size: 12pt;
}

.choices button {
  border-radius: 0.5em;
  background-color: #444;
  border: none;
  color: #ccc;
  font-family: Hoefler Text, Georgia, serif;
}

.choices, .choices button {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.choices button:hover {
  color: #fff;
  background-color: #000;
}
